{%extends 'base.html'%}
{% block content %}
<a href="{% url 'subject_list_sql' %}" class="btn btn-primary" style="margin-top: 2%; margin-left: 1%">Back to subject list</a>
<h1 style="text-align: center;">Adding new certificate</h1>
<h3 style="text-align: center;">Pleas copy and pass <strong>pem</strong> sertificate file in text place!</h3>
<div class="col-md-2"></div>
<div class="col-md-8">
	<form method="post" style="margin-top: 2%" action="{% url 'add_sql' %}" enctype="multipart/form-data">
		{%csrf_token%}
		<!-- <textarea name="pem_text" class="form-control" rows="18"></textarea> -->
		<input type="file" name="pem_file" class="form-control">
		<input type="submit" name="" value="Add certificate" class="btn btn-primary" style="margin-top: 1%">
	</form>
</div>
{% endblock %}