{%extends 'base.html'%}
{% load bootstrap %}
{% block content %}
<a href="{% url 'subject_list_sql' %}" class="btn btn-primary" style="margin-top: 2%; margin-left: 1%">Back to subject list</a>
<h1 style="text-align: center;">Update exist data</h1>
<div class="col-md-3"></div>
<div class="col-md-6">
	{% if form %}
		<!-- ORM update subject -->
		<form action="" method="post">{% csrf_token %}
		    {{ form|bootstrap }}
		    <input type="submit" value="Update" />
		</form>
	{%else%}
		<!-- SQL update subject -->
		<form method="post" action="/update_subject_sql/{{ pem_subject.0.id }}/" enctype="multipart/form-data">
			{%csrf_token%}
			<div class="form-group">
            <label class="control-label " for="id_country">Country</label>
    			<input class="form-control" type="text" name="country" value="{{ pem_subject.0.C }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">State</label>
    			<input class="form-control" type="text" name="state" value="{{ pem_subject.0.ST }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">Location</label>
    			<input class="form-control" type="text" name="location" value="{{ pem_subject.0.L }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">Organization</label>
    			<input class="form-control" type="text" name="organization" value="{{ pem_subject.0.O }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">Organization Unit</label>
    			<input class="form-control" type="text" name="organization_unit" value="{{ pem_subject.0.OU }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">Common Name</label>
    			<input class="form-control" type="text" name="common_name" value="{{ pem_subject.0.CN }}">
			</div>
			<div class="form-group">
            <label class="control-label  " for="id_country">Email Address</label>
    			<input class="form-control" type="text" name="email_address" value="{{ pem_subject.0.emailAddress }}">
			</div>
			<input class="" type="submit" name="" value="Update">
		</form>
	{% endif %}
</div>
{% endblock %}