{% extends 'base.html' %}
{%block content%}
<h1 style="text-align: center; margin-top: 17%">Choice one of this</h1>
<div class="col-md-5"></div>
<div class="col-md-1">
	<a href="{% url 'subject_list_sql' %}" class="btn btn-primary btn-lg">SQL</a>
</div>
<div class="col-md-1">
	<a href="{% url 'subject_list_orm' %}" class="btn btn-primary btn-lg">ORM</a>
</div>
{%endblock%}