{% extends 'base.html' %}
{% block content %}
{% if sub_list %}
	<!-- ORM subject list -->
	<a href="{% url 'add_cert_orm' %}" class="btn btn-primary" style="margin-top: 2%; margin-left: 1%">Add subject<strong> +</strong></a>
	<h1 style="text-align: center;">Subjet list</h1>
	<div class="col-md-1"></div>
	<div class="col-md-10" data-example-id="simple-table"> 
		<table class="table"> 
			<thead> 
				<tr> 
					<th>Country</th> 
					<th>State</th> 
					<th>Location</th> 
					<th>Organization</th> 
					<th>Organization Unit</th> 
					<th>Common Name</th> 
					<th>Email Address</th> 
				</tr> 
			</thead> 
			<tbody> 
				{% for sub_list in sub_list %}
					<tr> 
						<td>{{ sub_list.C }}</td> 
						<td>{{ sub_list.ST }}</td> 
						<td>{{ sub_list.L }}</td> 
						<td>{{ sub_list.O }}</td> 
						<td>{{ sub_list.OU }}</td> 
						<td>{{ sub_list.CN }}</td> 
						<td>{{ sub_list.emailAddress }}</td> 
						<td><a href="{% url 'update_orm' sub_list.id %}" class="btn btn-primary">Edit</a></td> 
						<td><a href="{% url 'delete_orm' sub_list.id %}" class="btn btn-danger">Delete</a></td> 
					</tr>
				{% endfor %}  
			</tbody> 
		</table> 
	</div>
	<div class="col-md-1"></div>
{% else %}
	<!-- SQL subject list -->
	<a href="{% url 'add_cert_sql' %}" class="btn btn-primary" style="margin-top: 2%; margin-left: 1%">Add subject<strong> +</strong></a>
	<h1 style="text-align: center;">Subjet list</h1>
	<div class="col-md-1"></div>
	<div class="col-md-10" data-example-id="simple-table"> 
		<table class="table"> 
			<thead> 
				<tr> 
					<th>Country</th> 
					<th>State</th> 
					<th>Location</th> 
					<th>Organization</th> 
					<th>Organization Unit</th> 
					<th>Common Name</th> 
					<th>Email Address</th> 
				</tr> 
			</thead> 
			<tbody> 
				{% for pem_subject in pem_subject %}
					<tr> 
						<td>{{ pem_subject.C }}</td> 
						<td>{{ pem_subject.ST }}</td> 
						<td>{{ pem_subject.L }}</td> 
						<td>{{ pem_subject.O }}</td> 
						<td>{{ pem_subject.OU }}</td> 
						<td>{{ pem_subject.CN }}</td> 
						<td>{{ pem_subject.emailAddress }}</td> 
						<td><a href="{% url 'update_sql' pem_subject.id %}" class="btn btn-primary">Edit</a></td> 
						<td><a href="{% url 'delete_sql' pem_subject.id %}" class="btn btn-danger">Delete</a></td> 
					</tr>
				{% endfor %}
			</tbody> 
		</table> 
	</div>
	<div class="col-md-1"></div>
{% endif %}
{% endblock %}